services:
  frontend:
    build:
      context: ./angular-frontend
    container_name: angular-app
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./laravel-backend
    container_name: laravel-app
    ports:
      - "8000:80"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: elearning
      DB_USERNAME: root
      DB_PASSWORD: Ss@12345

volumes:
  db_data:
