
    <nav class="navbar">
      <div class="nav-brand">
        <h2>Gestion de Vente</h2>
      </div>
      <ul class="nav-menu">
        <li>
          <a routerLink="/facturation" routerLinkActive="active">Facturation</a>
        </li>
        <li>
          <a routerLink="/gestion_produits" routerLinkActive="active">Gestion des Produits</a>
        </li>
        <li>
          <a routerLink="/gestion_clients" routerLinkActive="active">Gestion des Clients</a>
        </li>
      </ul>
    </nav>
  